.menu-frame {
    -fx-background-color: #228B22;
}

.menu-bar {
    -fx-background-color: #9ACD32;
}

.title-label {
    -fx-font: bold 16px "Arial";
}

.date-label {
    -fx-padding: 5 15 0 0;
    -fx-font: bold 12px "Arial";
}


.action-button {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-color: red;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-padding: 5;
    -fx-font: 16px "Arial";
    -fx-alignment: CENTER;
}

.action-button:hover {
    -fx-background-color: #ff3333;
    -fx-border-color: white;
}

.action-button:hover > .glyph-icon {
    -fx-fill: white;
}

.minimize-button {
    -fx-background-color: #f0bf46;
}

.close-button {
    -fx-background-color: red;
}

.output-window {
    -fx-font: 14px "Courier New";
    -fx-pref-width: 100%;
    -fx-pref-height: 100%;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.column-centered { 
  -fx-alignment: center; 
}

.info {
    -fx-background-color: #5F9EA0;
    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-min-width: 400px;
    -fx-pref-width: 400px;
    -fx-max-width: 400px;
    -fx-min-height: 700px;
    -fx-pref-height: 700px;
    -fx-max-height: 700px;
    -fx-padding: 15px;
}

.player-name {
    -fx-font-size: 30;
}

.player-img {
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.player-age {
}

.player-stats {
    -fx-min-height: 100px;
    -fx-pref-height: 100px;
    -fx-max-height: 100px;
}

.padding-5 {
    -fx-padding: 5px;
}

.framed {
    -fx-border-color: black;
    -fx-border-width: 2px;
}

.odd-row {
    -fx-background-color: lightgreen;
}

.even-row {
    -fx-background-color: mediumseagreen;
}

.box-score {
    -fx-font-size: 15;
    -fx-padding: 5px;
    -fx-min-width: 30px;
    -fx-pref-width: 30px;
    -fx-max-width: 30px;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-alignment: center;
}

.box-score-team {
    -fx-min-width: 150px;
    -fx-pref-width: 150px;
    -fx-max-width: 150px;
    -fx-alignment: center-left;
}

.club-info {
    -fx-padding: 10px;
}

.field {
    -fx-min-width: 857px;
    -fx-pref-width: 857px;
    -fx-max-width: 857px;
    -fx-min-height: 600px;
    -fx-pref-height: 600px;
    -fx-max-height: 600px;
    -fx-background-image: url("/img/vecteezy/field.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 857px 600px;
    -fx-background-position: center center;
    -fx-padding-top: 1000px;
}

.field-position {
    -fx-min-width: 200px;
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
    -fx-background-color: white;
}