.menu-frame {
    -fx-background-color: #228B22;
}

.menu-bar {
    -fx-background-color: #9ACD32;
}

.title-label {
    -fx-font: bold 16px "Arial";
}

.close-button {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-color: red;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-padding: 5;
    -fx-font: 16px "Arial";
    -fx-alignment: CENTER;
}

.close-button:hover {
    -fx-background-color: #ff3333;
    -fx-border-color: white;
}

.close-button:hover > .glyph-icon {
    -fx-fill: white;
}

.output-window {
    -fx-font: 14px "Courier New";
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.column-centered { 
  -fx-alignment: center; 
}

.info {
    -fx-background-color: #5F9EA0;
    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-min-width: 400px;
    -fx-pref-width: 400px;
    -fx-max-width: 400px;
    -fx-padding: 15px;
}

.player-name {
    -fx-font-size: 30;
}

.player-img {
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.player-age {
}
